@page "/creatework"
@using ElectricBusinessCard.Models.Enums
@using ElectricBusinessCard.Services.EntityFramework.Models
@model ElectricBusinessCard.Pages.Works.CreateWorkFormModel
@{
    ViewData["Title"] = "Создать услугу";
}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Составить заявку </h3>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="WorkModel.Name" class="form-label">Название услуги</label>
                    <textarea asp-for="WorkModel.Name"
                              class="form-control"
                              rows="3"
                              style="resize: none;">
                    </textarea>
                    <span asp-validation-for="WorkModel.Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="WorkModel.Unit" class="form-label"></label>
                    <select asp-for="WorkModel.Unit"
                            asp-items="Html.GetEnumSelectList<UnitWorks>()"
                            class="form-select">
                    </select>
                    <span asp-validation-for="WorkModel.Unit" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="WorkModel.PriceInRubles" class="form-label">Стоимость в Рублях</label>
                    <input asp-for="WorkModel.PriceInRubles" class="form-control">
                    <span asp-validation-for="WorkModel.PriceInRubles" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="SelectedCategoryId" class="form-label">Категория</label>
                    <select asp-for="SelectedCategoryId"
                            asp-items="@(new SelectList(Model.CategoriesModel, nameof(CategoryWork.CategoryIndex), nameof(CategoryWork.Name)))"
                            class="form-select">
                    </select>
                    <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="WorkModel.Description" class="form-label">Описание(Необязательно)</label>
                    <textarea asp-for="WorkModel.Description"
                              class="form-control"
                              rows="3"
                              style="resize: none;">
                    </textarea>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">
                        Создать услугу
                    </button>
                </div>
            </form>

            @if (Model.ShowMessage)
            {
                <div class="alert @(Model.IsSuccess ? "alert-success" : "alert-danger") mt-3">
                    @Model.StatusMessage
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}